@import url("estilos/header.css");

:root{
    --amarelo: #d426b7c2;
    --fundo-azul: #d426b7;
    --lilas: #000000;
    --fonte-projeto: "Dosis";
}

body{
    background-color: var(--amarelo);
    margin: 0;
    font-family: var(--fonte-projeto);
}