@import url("estilos/header.css");

:root{
    --amarelo: #664dd7f7;
    --fundo-azul: #4d4da8e4;
    --lilas: #a510a5;
    --fonte-projeto: "Dosis";
}

body{
    background-color: var(--amarelo);
    margin: 0;
    font-family: var(--fonte-projeto);
}